button.button {
  height: 36px;
  padding: 0 $margin-primary;

  border: none;
  border-radius: 2px;
  background-color: $color-accent;
  color: $color-primary-itext;
  font-weight: $font-weight-medium;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    background-color: #358539;
  }

  &:active {
    background-color: #317A34;
  }

  &:focus {
    outline: none;
  }
}

a.button {
  @extend button.button;
  display: inline-block;
  line-height: 36px;
  text-decoration: none;
}

button.button-delete {
  @extend button.button;
  background: $color-primary;
  &:hover {
    background-color: $color-primary-dark;
  }
  &:active {
    background-color: $color-primary-dark;
  }
}

button.button-drastic {
  @extend button.button;
  background: $color-primary;
  &:hover {
    background-color: $color-primary-dark;
  }
  &:active {
    background-color: $color-primary-dark;
  }
}

button.button-dialog {
  @extend button.button;

  background: none;
  color: $color-primary-text;

  &:hover {
    background-color: #eeeeee;
  }

  &:active {
    background-color: #999999;
  }
}

button.button-edit {
  @extend button.button-dialog;
  height: 22px;
  padding: 0;
  i {
    color: #757575;
    background-position: center;
  }
}