fieldset.checkbox {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: none;

  position: relative;

  input[type="checkbox"] {
    width: $fill-parent;
    height: $fill-parent;

    outline: none;
    @include appearance(none);

    & + label {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 28px;
    }

    & + label:before {
      content: "";
      display: block;
      box-sizing: border-box;

      position: absolute;
      top: 0;
      left: 0;

      width: 18px;
      height: 18px;
      border: 2px solid $color-secondary-text;
      border-radius: 2px;
    }

    &:checked + label:before {
      content: "";
      background-color: $color-secondary-text;
    }
    
    & + label:after {
      content: "";
      display: block;
      box-sizing: border-box;
      
      position: absolute;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 12px;
      
      @include transform(rotate(45deg));
      border-right: 2px solid $color-primary-itext;
      border-bottom: 2px solid $color-primary-itext;
    }
  }
}

input[type="checkbox"].checkbox {
  margin: 0;
  padding: 0;

  width: 18px;
  height: 18px;

  @include appearance(none);

  outline: none;

  & + label {
    position: relative;
  }

  & + label:before {
    content: "";
    display: block;
    box-sizing: border-box;

    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid $color-secondary-text;
    border-radius: 2px;
    
  }

  &:checked + label:before {
    content: "";
    background-color: $color-secondary-text;
  }

  & + label:after {
    content: "";
    display: block;
    box-sizing: border-box;
    
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;

    @include transform(rotate(45deg));
    border-right: 2px solid $color-primary-itext;
    border-bottom: 2px solid $color-primary-itext;
  }
}