div.container-limited {
  $width: 1280px;

  width: $width;

  margin-left: auto;
  margin-right: auto;
  padding-left: $margin-primary;
  padding-right: $margin-primary;

  @media(max-width 1500px) {
    width: $fill-parent;
  }
}

div.continer-full {
  width: $fill-parent;
}
