fieldset.input-text {
  height: 60px;
  display: inline-block;
  padding-bottom: 4px;
  border: none;

  position: relative;
  margin: 0;
  padding: 0;

  input[type="text"] {
    height: $fill-parent;
    width: $fill-parent;
    
    padding-top: 32px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 2px solid $color-divider;
    outline: none;
    font-size: 13px;

    &:focus {
      border-bottom: 2px solid $color-primary-dark;

      & + label {
        top: 12px;
        font-size: 12px;
        color: $color-primary-dark;
      }
    }

    &:focus:valid + label {
      color: $color-primary-dark;
    }

    &:valid + label {
      top: 12px;
      font-size: 12px;
      color: $color-secondary-text;
    }
  }

  label {
    line-height: 16px;
    position: absolute;
    bottom: 12px;
    left: 0;

    font-size: 13px;
    pointer-events: none;
    color: $color-secondary-text;
  }
}

