div.modal {
  border-radius: 2px;
  max-width: auto;
  width: auto;
  min-width: 300px;
  display: inline-block;
  padding: 0;

  div.icon {
    width: $fill-parent;
    height: 100px;
    padding: 25px auto;
    margin-top: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;

    &.error {
      background-image: url("/static/img/ic_error_outline.svg");
    }

    &.ok {
      background-image: url("/static/img/ic_check_circle.svg");
    }
  }

  div.title {
    width: $fill-parent;
    text-align: center;
    font-size: 26px;
    padding: $margin-primary 0;
  }

  div.description {
    padding: 0 $margin-primary;
    text-align: center;
    font-size: 15px;
  }

  div.controls {
    width: $fill-parent;
    padding: $margin-primary 0;
    text-align: center;

    .button-dialog {
      display: inline-block;
    }
  }
}



// div.modal {
//   border-radius: 2px;
//   max-width: auto;
//   width: auto;
//   display: inline-block;
//   padding: 0;

//   div.title {
//     padding: 24px;
//     padding-bottom: 0;
//     font-size: 20px;
//     font-weight: $font-weight-medium;
//   }

//   div.content {
//     padding: 0 24px;

//     &:after {
//       content: "";
//       display: block;
//       clear: both;
//     }
//   }

//   div.control {
//     padding: 8px;
//     margin-top: $margin-primary;

//     &:after {
//       content: "";
//       display: block;
//       clear: both;
//     }
//   }
// }