ul.nav-sidebar {
  width: $fill-parent;
  
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;

    &:hover {
      background-color: #222222;
    }

    a {
      @include display(block);
      padding: 7px $margin-primary 7px $margin-primary;

      line-height: 24px;
      font-size: 15px;
      text-decoration: none;
      color: #979797;

      &:hover {
        background-color: #222222;
      }
    }

    &.select {
      a {
        background-color: #222222;
        color: #FFFFFF;
      }
    }
  }
}

ul.nav-inner {
  $height: 58px;
  height: $height;

  margin: 0;
  padding: 0;

  list-style: none;

  li {
    height: $height;

    float: left;
    box-sizing: border-box;

    &.select {
      border-bottom: 2px solid $color-primary-dark!important;

      a {
        font-weight: $font-weight-medium;
        color: $color-primary-text;
      }
    }

    &:hover {
      border-bottom: 2px solid $color-divider;

      a {
        color: $color-primary-text;
      }
    }

    a {
      display: block;

      padding: 0 $margin-primary;
      color: $color-secondary-text;
      font-weight: $font-weight-regular;
      text-decoration: none;
      line-height: $height;
    }
  }
}

div.nav-wrapper-full {
  width: $fill-parent;
  box-sizing: border-box;
  text-align: center;
  height: 58px;

  background-color: #FAFAFA;
  border-bottom: 1px solid $color-divider-subtle;

  ul.nav-inner {
    display: inline-block;
  }
}

div.score-display-box {
  float: left;
  width: 200px;
}

ul.score-display-list {
  margin-left: 16px;
  padding: 0;
  list-style: none;
  li {
    float: left;
    padding-left: 0;
    padding-right: 20px;
    margin: 0;
  }
  a {
    display: block;
    text-decoration: none;
  }
}