// table.data-table {
//   width: $fill-parent;

//   thead {
//     display: block;
//     width: $fill-parent;
//     padding-right: 17px;
//   }

//   tbody {
//     display: block;
//     width: $fill-parent;
//     overflow-y: scroll;
//   }
// }