<li>
  <div class="left">
    <span class="author-email">{{email}}</span>
    <span class="author-name">{{username}}</span>
  </div>
  <div class="right">
    <select data-ggs-author="{{id}}">
      <option value="null">unassigned</option>
      {% for member in members %}
      <option value="{{member.id}}" class="{{member.select}}" {{member.select}}>{{member.name}}</option>
      {% endfor %}
    </select>
  </div>
</li>