<tr>
  <td class="main">
    <div class="title">
      <a href="{{url}}">{{name}}</a>
      <span class="member-username">{{username}}</span>
    </div>
    <div class="info">
      <ul class="member-email-list">
        {% for email in emails %}
          <li>{{email}}</li>
        {% empty %} <li>No assigned contributors</li>
        {% endfor %}             
      </ul>
    </div>
  </td>
  <td class="stat" title="Total score of all commits">
    <span>{{score}}</span>
    <i class="material-icons">&#xE80C;</i>
  </td>
  <td class="stat" title="Total words in MR notes">
    <span>{{word_count}}</span>
    <i class="material-icons">&#xE264;</i>
  </td>
</tr>