// Node Modules
@import "jb-dropit/dropit";
@import "jquery-modal/jquery.modal";
@import "flatpickr/dist/themes/material_red";

// Sass Vendors
$output-bourbon-deprecation-warnings: false;

@import "../vendor/bourbon/bourbon";
@import "../vendor/neat/neat";

// Uncategorized
@import "misc/normalize";
@import "misc/typography";

// Helper partials
@import "helpers/color";
@import "helpers/dimension";

// Layout partials
@import "layout/header";
@import "layout/sidebar";
@import "layout/main";

// Component partials
@import "components/navigation";
@import "components/container";
@import "components/button";
@import "components/checkbox"; 
@import "components/modal";
@import "components/input";
@import "components/table";

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: $font-weight-regular;
  color: $color-primary-text;

  margin: 0;
  padding: 0;
}

body.collapsed {
  aside.wrapper-sidebar {
    width: 0;
  }

  main.wrapper-main {
    padding-left: 0px;
  }

  header.header-main {
    padding-left: 0px;

    div.content {
      margin-left: 5px;

      div.button-toggle {
        display: block;
      }
    }
  }
}
