div.control {
  height: 58px;

  ul.nav-inner {
    display: inline-block;
  }

  

  button, a.button {
    float: right;
    margin-top: 11px;
    margin-right: $margin-primary;
  }
}

div.manage {
  width: $fill-parent;
  height: 58px;

  background-color: $color-header;

  border-top: 1px solid $color-divider-subtle;
  border-bottom: 1px solid $color-divider-subtle;

  fieldset.checkbox {
    position: relative;
    margin-left: $margin-primary;
    display: inline-block;
    vertical-align: top;
    top: 20px;
  }

  input.input-search {
    height: 36px;
    width: 188px;

    margin-top: 11px;
    margin-left: 8px;

    padding: 6px 10px;

    border: 1px solid $color-divider-subtle;
    border-radius: 2px;
  }

  div.buttons {
    margin-top: 11px;
    float: right;
    margin-right: $margin-primary;

    button {
      visibility: visible;
      // display: none;
    }

    button + button {
      margin-left: 8px;
    }

    button:disabled {
      opacity: 0.3;

      &:hover {
        background-color: $color-primary;
      }
    }
  }
}

div.selected-list {
  max-height: 200px;
  overflow-y: scroll;
  border-top: 1px solid $color-divider-subtle;
  border-bottom: 1px solid $color-divider-subtle;
  padding: 10px 0;
}