ul.list-projects {
  margin: 0;
  padding: 0;
  list-style: none;

  width: $fill-parent;

  li {
    width: $fill-parent;

    height: 58px;

    &.item-loading {
      background-image: url("/static/img/spinner-generic.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40px;
    }

    fieldset.checkbox {
      margin-top: 19px;
      margin-left: $margin-primary;
      display: inline-block;
    }

    div.panel-name {
      display: inline-block;
      vertical-align: top;
      height: $fill-parent;

      margin-left: 8px;

      line-height: 58px;

      p {
        margin: 0;
        padding: 0;
        
        label {
          cursor: pointer;
        }
      }
    }

    div.panel-right {
      float: right;
      display: block;
      height: 58px;
      margin-right: $margin-primary;

      a {
        color: $color-secondary-text;
        display: inline-block;
        padding-top: 17px;
        height: 24px;
      }
    }
  }

  li + li {
    border-top: 1px solid $color-divider-subtle;
  }
}