/*
* GENERAL LAYOUT
*/
.wrapper-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: unset !important;
  border-spacing: 0;
}

.wrapper-left {
  position: relative;
  display: table-cell;
  
  height: 100%;
  vertical-align: top;
}

.divider-wrapper {

  display: table-cell;
  width: 12px;
  cursor: col-resize;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,d3d3d3+50,e5e5e5+100 */
background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(left,  #e5e5e5 0%, #d3d3d3 50%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e5e5e5 0%,#d3d3d3 50%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e5e5e5 0%,#d3d3d3 50%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */

}

.wrapper-right {
  position: relative;
  /*top: -7px;*/
  display: table-cell;
  height: 100%;
  table-layout: fixed;
  /*padding: 10px;*/
  
  background-color: #FFFFFF;
  
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.wrapper-rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*
* MERGE REQUEST PANEL
*/
.panel-row {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  overflow: hidden;
}

.panel-row + .panel-row {
  margin-top: 12px;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  text-overflow: ellipsis;
  overflow:hidden;
  word-wrap:break-word;
  white-space: nowrap;
}

th {
  color: #757575;
  font-weight: 500!important;
  font-size: 13px;
  padding-left: 16px!important;
}

.dataTables_scrollHead {
  display: flex;
}

.dataTables_scrollHeadInner, .dataTable.no-footer {
  width: 100%!important;
  flex: 1;
}

#table_mr tbody td {
  height: 28px;
  white-space: nowrap;
  padding-left: 16px;
  cursor: pointer!important;
}

tbody tr + tr td {
  border-top: 1px solid #BDBDBD;
}

tbody tr {
  cursor: pointer!important;
}

.dataTables_scrollBody {
  overflow-y: scroll!important;
}

.td-left {
  text-align: left;
}

.td-right {
  text-align: right;
}



.td-center {
  text-align: center;
}


.dataTables_info {
  padding-top: 0!important;
  line-height: 27px;
  padding-left: 10px;
  background-color: #FAFAFA;
  width: 100%;
}

.panel-changes {
  overflow: auto;
  height: 100%;
}

.file-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.file-list > li {
  /*border: 1px solid black;*/
  display: block;
  list-style: none;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.file-list h2 {
  background-color: #c7c8ca;
  color: #757575;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-left: 6px;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #757575;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

pre {
  margin: 0;
  width: 100%;
  display: block;
}

code {
  display: block;
  padding: 6px;
  background-color: #f8f8f8;
  
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.disowned {
  opacity: 0.5;
  background-color: grey!important;
}

table.dataTable tbody tr.selected {
  background-color: #B0BED9!important;
}
