{% extends "index.html" %} 

{% block scripts %}
<link rel="stylesheet" type="text/css" href="/static/css/lib/gitgraph.css" />
<script type="text/javascript" src="/static/js/lib/gitgraph.js"></script>
<script type="text/javascript" src="/static/js/commits.js"></script>
{% endblock %}

{% block tabcontent%}

<canvas id="gitGraph"></canvas>

{% endblock %}
