{% extends "master.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/fourohfour.css">
{% endblock %}

{% block body %}
<div class="container-limited">
  <img src="https://http.cat/404" alt="404 page not found" style="width: 500px; position: relative; left: 50%; margin-left: -250px; margin-top: 16px;">
  <h2 style="text-align: center;">The page you're looking for could not be found.</h2>
  <hr/>
  <p style="text-align: center;">Make sure the address is correct and that the page hasn't moved.</p>
  <p style="text-align: center;">Please contact a GGS administrator if you think this is a mistake.</p>
</div>
{% endblock %}