{% extends "master.html" %} 

{# Header blocks #} 

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/elements/lists.css">
<link rel="stylesheet" href="/static/css/lib/sumoselect.css">
<link rel="stylesheet" href="/static/css/lib/jquery.modal.min.css">
{% endblock %}

{% block js_scripts %}
<!--For date table-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- For syntax hightlighting -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>

<!-- Panel splitter -->
<script src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>

<script type="text/javascript" src="/static/js/table.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.sumoselect.min.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.modal.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %} 

{# Main content of the page #} 

{% block bc_title %}
<a href="/projects">Snapshot /</a>
{% endblock %}

{% block body %}

{% block scripts%}{% endblock %}

<ul class="tab" style="margin:0;">
 {% block tabs %}{% endblock %}

<!--
  <div style="float: right; padding: 10px;">
    <span id="selectedUsers" style="margin-right: 5px">
      User A
    </span>
    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#changeStudentModal">Change Student</button>
  </div>
-->
</ul>

<!-- Modal -->
<!--
<div class="modal fade" id="changeStudentModal" role="dialog">
  <div class="modal-dialog">

     Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change student</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label><input type="checkbox" value="User A" name="userCheckBox" checked="true">
						User A
					</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="User B" name="userCheckBox">
						User B
					</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="All" name="userCheckBox">
						All
					</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" onclick="setUser()" data-dismiss="modal">Apply</button>
      </div>
    </div>

  </div>
</div>
-->

{% block tabcontent%}{% endblock %}

{% endblock %}

