<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="icon" ype="image/ico" ref="/static/favicon.ico"/>
    
    <script>{{script}}</script>
    <script type="text/javascript" src="/static/js/lib/ws.min.js"></script>
    <script type="text/javascript">protos = [ $bert ]; N2O_start();</script>
  </head>
  <body></body>
</html>
