<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico">
    
    <title>{{head_title}}</title>

    {% block stylesheets %}{% endblock %}
    <script type="text/javascript">{{script}}</script>
  </head>
  <body>
    <header class="header-main">
      <div class="content">
        <div class="button-toggle" id="btn_sidebar_expand">
          <i class="material-icons">&#xE5D2;</i>
        </div>
        <h1 class="title">
          <span>{% block bc_title %}{% endblock %}</span>
        </h1>
        <div class="wrapper-nav">
          <ul class="avatar-nav dropit" id="avatar_nav">
            <li class="dropit-trigger">
              <a href="">
                <p>{{username}}</p>
                <img src="/static/img/ic_account_circle.svg" alt="avatar" class="">
                <i class="material-icons">&#xE5C5;</i>
              </a>
              <ul>
                <li><a href="/profile">Profile Settings</a></li>
                <li><a href="/sign_out">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="logo">
          <img src="/static/img/Logo_Dark-01.svg" alt="logo">
        </div>
      </div>
    </header>
    
    <aside class="wrapper-sidebar">
      <div class="panel-action">
        <div class="button-toggle" id="btn_sidebar_collapse">
          <i class="material-icons">&#xE5D2;</i>
        </div>
      </div>
      <ul class="nav-sidebar">
        <li class="{{menu_item_projects}}"><a href="/projects">Analyzer</a></li>
        <li class="{{menu_item_manager}}"><a href="/manager">Manager</a></li>
        <li class="{{menu_item_profile}}"><a href="/profile">Profile Settings</a></li>
        {% comment %}<li class="{{menu_item_help}}"><a href="/help">Help</a></li>{% endcomment %}
      </ul>
    </aside>
    <main class="wrapper-main">
      {% block body %}{% endblock %}
    </main>
    <div id="modal_cache">
      {% block modals %}{% endblock %}
    </div>
    {% block javascript %}{% endblock %}
  </body>
</html>

