{% extends "index.html" %} 

{% block scripts %}
<script type="text/javascript" src="/static/js/resize.js"></script>
<script type="text/javascript" src="/static/js/notes.js"></script>
{% endblock %}

{% block tabcontent%}
<div id="NotesSummary" class="table-wrapper">
  <h3>Notes</h3>
  <table id="notesExample" class="display">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>To</th>
        <th>Word Count</th>
        <th>Title with link</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Total:</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Sep 06</td>
        <td>MR</td>
        <td>Self</td>
        <td>5</td>
        <td><a href="https://csil-git1.cs.surrey.sfu.ca/373-16-2-beta/prj/merge_requests/195">Change the way ladder is imported</a></td>
      </tr>
      <tr>
        <td>Sep 05</td>
        <td>Commit</td>
        <td>Self</td>
        <td>18</td>
        <td><a href="https://csil-git1.cs.surrey.sfu.ca/373-16-2-beta/prj/commit/50b3670687f5a687559bd92467ea2145a5b1976c">Set up SSL</a></td>
      </tr>
      <tr>
        <td>Sep 05</td>
        <td>Issue</td>
        <td>Others</td>
        <td>1</td>
        <td><a href="https://csil-git1.cs.surrey.sfu.ca/373-16-2-beta/prj/issues/96">HTML redirecting bugs</a></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div id="CreationSummary" class="table-wrapper">
  <h3>Issues Created</h3>
  <table id="creationExample" class="display">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Description Word Count</th>
        <th>Title with link</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Total:</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Sep 09</td>
        <td>Branch</td>
        <td>5</td>
        <td><a href="https://csil-git1.cs.surrey.sfu.ca/373-16-2-beta/prj/commit/78e1b984f234439fce823043c0b67669ff8773e9">HTMLTemplating</a></td>
      </tr>
      <tr>
        <td>Sep 05</td>
        <td>Issue</td>
        <td>45</td>
        <td><a href="https://csil-git1.cs.surrey.sfu.ca/373-16-2-beta/prj/issues/96">HTML redirecting bugs</a></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
