{% extends "master.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/projects.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/projects.bundle.js"></script>
{% endblock %}

{% block bc_title %}
<a href="/projects">Projects</a>
{% endblock %}

{% block body %}
<div class="container-limited">
  <div class="container">
    <div class="control">
      <ul class="nav-inner">
        <li class="select"><a href="/projects/gitlabsfu">GitLab SFU</a></li>
      </ul>
    </div>
    <ul id="list_projects" class="list-projects">
      <li class="item-loading"></li>
    </ul>
  </div>
</div>
<div id="footer" class="footer">
    <div id="container_pages" class="container_pages"></div>
</div>
{% endblock %}