{% extends "master.html" %} 

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/project.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/project.bundle.js"></script>
{% endblock %}

{% block bc_title %}
<a href="/projects">Projects</a>
<span>&nbsp;/&nbsp;</span>
<a>{{project_namespace}}</a>
<span>&nbsp;/&nbsp;</span>
<a href="{{project_url}}">{{project_name}}</a>
<ul class="dropit dropdown" id="nav_dropdown_projects">
  <li class="dropit-trigger">
    <a href="">
      <i class="material-icons">&#xE5C5;</i>
    </a>
    <div>
      <h2>Go to a project</h2>
      <ul id="dd_project_list">
        <li class="img-spinner-dropit"></li>
      </ul>
    </div>
  </li>
</ul>
{% endblock %}

{% block body %}
<div class="container-text-main">
  <div class="container-limited">
    <h1 class="project-title">{{project_name}}</h1>
    <h2 class="project-namespace">{{project_namespace}}</h2>
    <div class="project-buttons">
      <div class="group-input">
        <input type="text" class="project-redirect" readonly="readonly" value="{{project_rurl}}">
        <a href="{{project_rurl}}" target="_blank">
          <i class="material-icons">&#xE89D;</i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-limited">
  <div class="project-control">
    <div class="left">
      <fieldset class="checkbox">
        <input type="checkbox" id="select_all"/>
        <label for="select_all"></label>
      </fieldset>
    </div>
    <div class="right">
      <button class="button-delete" id="btn_delete_snapshot">Delete Snapshot</button>
      <button class="button" id="btn_open_modal">New Snapshot</button>
    </div>
  </div>
  <div>
    <ul class="list-snapshots" id="list_snapshots">
      {% for snapshot in snapshots %}
        {% include "../snippets/snapshots_item.html" %}
      {% empty %} <p>The are no snapshots generated for this project</p>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block modals %}
<div id="modal_create_snapshot" class="modal modal-create-snapshot" style="display:none;">
  <div class="title">Create Snapshot</div>
  <div class="description">
    <fieldset class="input-text">
      <input type="text" id="input_name" value="{{last_snapshot_name}}" required/>
      <label for="input_name">Name</label>
    </fieldset>
    <div class="input-calendar" id="datetime_from">
      <input placeholder="Start time" data-input required>
      <var id="last_start_date" value="{{last_snapshot_start_date}}"></var>
      <a class="button button-anchor" data-toggle><i class="material-icons">&#xE916;</i></a>
      <a class="button button-anchor" data-clear><i class="material-icons">&#xE14C;</i></a>
    </div>
    <div class="input-calendar" id="datetime_to">
      <input placeholder="End time" data-input required/>
      <var id="last_end_date" value="{{last_snapshot_end_date}}"></var>
      <a class="button button-anchor" data-toggle><i class="material-icons">&#xE916;</i></a>
      <a class="button button-anchor"data-clear><i class="material-icons">&#xE14C;</i></a>
    </div>
  </div>
  <div class="controls">
    <button class="button-dialog close">cancel</button>
    <button id="btn_create_snapshot" class="button-dialog">create</button>
  </div>
</div>
{% endblock %}