{% extends "index.html" %} 

{% block scripts %}
<script type="text/javascript" src="/static/js/resize.js"></script>
<script type="text/javascript" src="/static/js/notes.js"></script>
{% endblock %}

{% block tabcontent%}
<div id="ScoreSummary" class="table-wrapper">
  <h3>Score</h3>  
  <table id="scoreExample" class="display">
    <thead>
      <tr>
        <th>Date</th>
        <th>Comment</th>
        <th>Add</th>
        <th>Delete</th>
        <th>Move</th>
        <th>Ignore</th>
        <th>Edit</th>
        <th>Reformat</th>
        <th>Sum</th>
      </tr>
    </thead>
    <tfoot>
      <tr id="raw">
        <td>Raw Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="primaryWeight">
        <td>Primary Weight</td>
        <td><input type="button" id="applyPrimaryWeight"  value="Apply"/></td>
        <td><input value="1" size="2"></td>
        <td><input value="0.1" size="2"></td>
        <td><input value="0.1" size="2"></td>
        <td><input value="0" size="2"></td>
        <td><input value="0.5" size="2"></td>
        <td><input value="0" size="2"></td>
        <td></td>
      </tr>
      <tr id="secondaryWeight">
        <td>Secondary Weight</td>
        <td><input type="button" id="applySecondaryWeight"  value="Apply"/></td>
        <td><input value="0.5" size="2"></td>
        <td><input value="0.05" size="2"></td>
        <td><input value="0.05" size="2"></td>
        <td><input value="0" size="2"></td>
        <td><input value="0.25" size="2"></td>
        <td><input value="0" size="2"></td>
        <td></td>
      </tr>
      <tr id="total">
        <td>Weighted Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tbody id="commit">
     <tr>
        <td>Sep 06</td>
        <td>Disable Time button</td>
        <td>26</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>16</td>
        <td>12</td>
        <td></td>
      </tr>
      <tr>
        <td>Sep 06</td>
        <td>Disable Time button</td>
        <td>12</td>
        <td>12</td>
        <td>13</td>
        <td>20</td>
        <td>1</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>Sep 16</td>
        <td>Change Time strings</td>
        <td>6</td>
        <td>12</td>
        <td>13</td>
        <td>8</td>
        <td>0</td>
        <td>10</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
