{% extends "master.html" %} 

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/snapshot.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/snapshot.bundle.js"></script>
{% endblock %}

{% block bc_title %}
<a href="/projects">Projects</a>
<span>&nbsp;/&nbsp;</span>
<a href="{{project_url}}">{{project_name}}</a>
<span>&nbsp;/&nbsp;</span>
<a href="{{snapshot_url}}">{{snapshot_name}}</a>
<ul class="dd_list dropdown" id="nav_dropdown_snapshots">
  <li>
    <a href="">
      <i class="material-icons">&#xE5C5;</i>
    </a>
    <div>
      <h2>Go to a snapshot</h2>
      <ul id="dd_snapshot_list">
        <li class="img-spinner-dropit"></li>
        {% for snapshot in snapshots %}
        {% include "../snippets/snapshots_item_dropdown.html" %}
        {% endfor %}
      </ul>
    </div>
  </li>
</ul>
{% endblock %}

{% block body %}
<div class="container-limited">
  <div class="container">
    <div class="control">
      <ul class="nav-inner">
        {% comment %}
        <li class=""><a href="{{snapshot_url}}/participants">Participants</a></li>
        <li class=""><a href="{{snapshot_url}}/contributors">Contributors</a></li>
        {% endcomment %}
        <li class="select"><a href="{{snapshot_url}}/all">All</a></li>
      </ul>
    </div>
    <div class="wrapper-full">
      <div class="wrapper-half">
        <table class="member-list">
          <thead>
            <tr>
              <th colspan="3" class="header">
                <span>Participants</span>
                <i class="material-icons" title="Participants are the accounts with access to this GitLab project.">&#xE887;</i></th>
            </tr>
          </thead>
          <tbody id="list_members">
            <tr>
              <td colspan="3" class="item-loading"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="wrapper-half">
        <div class="panel">
          <div class="header">
            <span>Contributors</span>
            <i class="material-icons" title="Contributors are the ID's found in Git repository. They are independent from the participants and have to be matched to associate real work done.">&#xE887;</i>
            <div class="control">
              <button class="button-dialog" id="btn_apply">Apply</button>
            </div>
          </div>
          <ul class="author-list" id="list_authors">
            <li class="item-loading"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
