div.graph-wrapper {
  width: $fill-parent;

  margin-top: $margin-primary;
  border: 1px solid $color-divider-subtle;

  h2 {
    margin: 0;
    padding-left: $margin-primary;
    padding-right: $margin-primary;
    height: 50px;
    line-height: 50px;

    font-size: 15px;
    font-weight: $font-weight-regular;
    color: $color-secondary-text;

    background-color: $color-header;
  }

  div.graph {
    width: $fill-parent;
    height: 400px;

    &#graph_commit_mr {
      padding-right: 56px;
    }

    &#graph_note {
      padding-right: 56px;
    }
  }
}