 /* Style the list */
 ul.tab {
   list-style-type: none;
   width: 1800px;
   margin-left: 10px;
   padding: 0;
   overflow: hidden;
   box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
   background-color: #d5d8dc;
 }

 /* Float the list items side by side */ 
 ul.tab li {
   float: left;
 }

 /* Style the links inside the list items */
 ul.tab li a {
   display: inline-block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: 0.3s;
   font-size: 17px;
 }

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #c7cbd1;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #babec5;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

.table-wrapper {
  max-width: 1600px;
  
  position: relative;

  margin-top: 10px;
  margin-left: 10px;
  
  padding: 10px;
  list-style: none;
  
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mrWrap {
    width: 100%;
}

.mrTable {
    float:left;
    width: 50%;
}

.myCodeChanges {
    float:left;
    width: 50%;
}

table { 
    table-layout: fixed; 
    width:100%;
    border-spacing: 0px;
}
table th, table td { 
    overflow: hidden; 
}    

tr.greyedOut td {
  background-color: #dddddd;    
}
    
/* Splitter panels (resize) */
/* Adapted form https://codepen.io/rstrahl/pen/eJZQej */
/* horizontal panel*/
.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  overflow: hidden;
  
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
}

.splitter {
  flex: 0 0 auto;
  width: 5px;  
  background: #535353;
  min-height: 200px;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
}

/* vertical panel */
.panel-container-vertical {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid black;
  overflow: hidden;
}

.panel-top {
  flex: 0 0 auto;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 5px;
  background: #535353;
  cursor: row-resize;
}

.panel-bottom {
  flex: 1 1 auto;
}

/* Spinner */
.spinner {
    margin: 80px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #68aadb;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
    