* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}

body, html {
  font-size: 14px;
  font-family: "Roboto", sans-serif!important;
  font-weight: 400!important;
  
  margin: 0;
  padding: 0;
  
  background-color: #EAEBEC;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1;
}

i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-title {
  height: 100%;
  line-height: 50px;
  
  margin: 0;
  margin-left: 16px;
  padding: 0;
  
  font-weight: 400;
  font-size: 19px;
  color: #5c5c5c;
}

.header-title > span > a {
  float: left;
}

.header-title > span > span {
  float: left;
}

a {
  text-decoration: none;
  color: #212121!important;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none!important;
}

header > .panel-user {
  position: fixed;
  top: 0;
  right: 16px;
}

header > .panel-user > p {
  float: right;
  height: 50px;
  line-height: 50px;
  margin: 0;
  margin-right: 16px;
  font-weight: 500;
}

header > .panel-user > a {
  float: right;
  margin-top: 7px;
  background-color: #fafafa;
  color: #212121!important;
  border: 1px solid #212121;
  font-weight: 400!important;
}

a:hover {
  text-decoration: underline;
}

/******************************************************************************
* Main menu
******************************************************************************/

.menu-main {
  width: 220px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #1d1f21;
  z-index: 1;
}

.menu-main > .panel-toggle {
  width: 100%;
  height: 50px;
}

.menu-main > ul {
  padding: 0;
  margin: 0;
}

.menu-main > ul > li {
  padding-left: 16px;
}

.menu-main > ul > li:hover {
  background-color: #141415;
}

.menu-main > ul > .select {
  background-color: #141415;
}

.menu-main > ul > li > a {
  color: #8f8f8f!important;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  
  height: 40px;
  display: block;
}

/******************************************************************************
* Main content
******************************************************************************/

main {
  position: relative;
  margin-left: 220px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.panel-content-main {
  margin-top: 50px;
  flex: 1 auto;

  display: flex;
  width: 100%;
  height: 100%;
}