<span>Title: {{total_score.title}} <br/> 
      Message: {{total_score.message}}</span>
<div class="total_scores">
  <span>#Whitespace: {{total_score.whitespace}} </span>
  <span>#Syntax: {{total_score.syntax}} </span>
  <span>#Moves: {{total_score.moves}} </span>
  <span>#Refactor: {{total_score.refactor}} </span>
  <span>#Insertions: {{total_score.insertions}} </span>
  <span>#Deletions: {{total_score.deletions}} </span>
  <span>Score: {{total_score.sum}}</span>
</div>