<tr data-ggs-id="{{commit.id}}" class="{{commit.disowned}}">
  <td class="td-left">{{commit.title}}</td>
  <td class="td-left">{{commit.message}}</td>
  <td class="td-left">{{commit.author}}</td>
  <td class="td-right">{{commit.date}}</td>
  <td class="td-right">{{commit.ins}}</td>
  <td class="td-right">{{commit.del}}</td>
  <td class="td-right">{{commit.net}}</td>
</tr>