<li class="{{file.language}}">
  <div class="title">
    <i class="material-icons">&#xE873;</i>
    <span>{{file.title}}</span>
  </div>
  <div class="diff_scores"> 
    <span>#Whitespace: {{file.whitespace}} </span>
    <span>#Syntax: {{file.syntax}} </span>
    <span>#Moves: {{file.moves}} </span>
    <span>#Refactor: {{file.refactor}} </span>
    <span>#Insertions: {{file.insertions}} </span>
    <span>#Deletions: {{file.deletions}} </span>
    <span>Score: {{file.sum}}</span>
  </div>
  <table class="lines">
    {% for line in file.lines %}
      <tr>
        <td class="line-num {{line.type}} {{line.augment}}">
          {% if line.old > 0 %}
            {{line.old}}
          {% endif %}
        </td>
        <td class="line-num {{line.type}} {{line.augment}}">
          {% if line.new > 0 %}
            {{line.new}}
          {% endif %}
        </td>
        <td class="line-data {{line.type}} {{line.augment}}">{{line.data}}</td>
      </tr>
    {% endfor %}
  </table>
</li>