<li>
  <fieldset class="checkbox">
    <input type="checkbox" id="{{id}}" data-name="{{name}}" class="real"/>
    <label for="{{id}}"></label>
  </fieldset>
  <div class="panel-name">
    <p class="project-name">
      <label for="{{id}}">{{name}}</label>
    </p>
  </div>
  <div class="panel-right">
    <a href="{{url}}" target="_blank" title="to GitLab">
      <i class="material-icons">&#xE89D;</i>
    </a>
  </div>
</li>