<tr>
  <td class="main">
    <div class="title">
      <a href="{{member.url}}">{{member.name}}</a>
      <span class="member-username">{{member.username}}</span>
    </div>
    <div class="info">
      <ul class="member-email-list">
        {% for email in member.emails %}
          <li>{{email}}</li>
        {% empty %} <li>No assigned contributors</li>
        {% endfor %}             
      </ul>
    </div>
  </td>
  <td class="stat" title="Total score">
    <span>{{member.score}}</span>
    <i class="material-icons">&#xE80C;</i>
  </td>
  <td class="stat" title="Total words in notes">
    <span>{{member.word_count}}</span>
    <i class="material-icons">&#xE264;</i>
  </td>
</tr>