<div id="modal_info" class="modal-generic" style="display:none;">
  <div class="title">{{title}}</div>
  <div class="content">{{content}}</div>
  <div class="control">
    <a class="button button-anchor" style="float:right;" href="#modal_info" rel="modal:close">ok</a>
  </div>
</div>