<li>
  <div class="stat">
    {% if count > 0 %}
    <div title="Number of snapshots">
      <i class="material-icons">&#xE192;</i>
      <span>{{count}}</span>
    </div>
    {% endif %}
  </div>
  <div class="title">
    <a href="{{url}}">
      <div class="avatar">{{first_letter}}</div>
      <span class="name">{{name}}</span>
    </a>
  </div>
</li>