
<li>
  <div class="title">
    <fieldset class="checkbox">
      <input type="checkbox" class ="{{snapshot.state}}" id="{{snapshot.snapshot_id}}"/>
      <label for="{{snapshot.snapshot_id}}"></label>
    </fieldset>
    <a href="{{snapshot.url}}" class="text">{{snapshot.name}}</a>
    <span class="label-status {{snapshot.state}}">{{snapshot.state}}</span>
    {% if snapshot.state == "completed" %}
      <div class="right">
        {% comment %}<button class="button-edit" id="{{snapshot.snapshot_id}}">
            <i class="material-icons">&#xE254;</i>
        </button>{% endcomment %}
      </div>
    {% endif %}
    <div class="range_info">
      <span>{{snapshot.start_date}}</span>
      <span>-</span>
      <span>{{snapshot.end_date}}</span>
    </div>
  </div>
  <div class="info">
      <span>Created on</span>
      <span>{{snapshot.date}}</span>
      <span>by</span>
      <span>{{snapshot.author}}</span>
  </div>
    {% comment %}<div id="modal_edit_snapshot{{snapshot.snapshot_id}}" class="modal modal-create-snapshot" style="display:none;">
    <div class="title">Edit Snapshot</div>
    <div class="description">
      <fieldset class="input-text">
        <input type="text" id="input_name_edit{{snapshot.snapshot_id}}" value="{{snapshot.name}}" required/>
        <label for="input_name_edit">Name</label>
      </fieldset>
      <div class="input-calendar" id="datetime_from_edit{{snapshot.snapshot_id}}">
        <input placeholder="{{snapshot.start_date}}" data-input>

        <a class="button button-anchor" data-toggle><i class="material-icons">&#xE916;</i></a>
        <a class="button button-anchor" data-clear><i class="material-icons">&#xE14C;</i></a>
      </div>
      <div class="input-calendar" id="datetime_to_edit{{snapshot.snapshot_id}}">
        <input placeholder="{{snapshot.end_date}}" data-input />

        <a class="button button-anchor" data-toggle><i class="material-icons">&#xE916;</i></a>
        <a class="button button-anchor"data-clear><i class="material-icons">&#xE14C;</i></a>
      </div>
    </div>
    <div class="controls">
      <button class="button-dialog close">cancel</button>
      <button id="btn_recreate_snapshot{{snapshot.snapshot_id}}" class="button-dialog">edit</button>
    </div>
  </div>{% endcomment %}
</li>

