div.control {
  height: 58px;
  width: $fill-parent;

  border-bottom: 1px solid $color-divider-subtle;
}

div.footer {
  margin: 0 auto;
    a   {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
    }
    a:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  
    a:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    a:hover:not(.active) {background-color: #ddd;}

  text-align: center;
}