ul.list-projects {
  width: $fill-parent;

  list-style: none;
  padding: 0;
  margin: 0;

  li {
    height: 62px;

    padding: 10px 0;

    &.item-loading {
      background-image: url("/static/img/spinner-generic.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40px;
    }

    div.title {
      height: 42px;

      a {
        line-height: 42px;
        color: $color-primary-text;
        font-weight: $font-weight-medium;
        text-decoration: none;
        
        div.avatar {
          display: inline-block;
          width: 40px;
          height: 40px;

          border-radius: 50%;
          border: 1px solid rgba(0,0,0,0.1);

          background-color: $color-primary-light;
          text-align: center;
          text-transform: capitalize;
        }

        span {
          margin-left: $margin-primary;
        }
      }
    }

    div.stat {
      height: 42px;
      float: right;

      line-height: 42px;
      
      &> div {
        margin: 0;
        padding: 0;
        font-size: 14px;
        height: 42px;
        display: inline-block;

        i {
          line-height: 41px;
          margin-right: 4px;
          float: left;

          font-size: 18px;
        }

        span {
          display: block;
          float: left;
        }
      }
    }
  }

  li + li {
    border-top: 1px solid $color-divider-subtle;
  }
}