.graph-wrapper {
  position: relative;

  margin-bottom: 10px;
  
  padding: 10px;
  
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.graph {
	width	: 100%;
	height	: 400px;
}