<div class="modal" id="{{id}}">
  <div class="icon error"></div>
  <div class="title">
    {{title}}
  </div>
  <div class="description">
    {{message}}
  </div>
  <div class="controls">
    <button class="button-dialog close">Ok</button>
  </div>
</div>