{% extends "../master.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/manager_new.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/manager_new.bundle.js"></script>
{% endblock %}

{% block bc_title %}
<a href="/manager/projects/new">New Projects</a>
{% endblock %}

{% block body %}
<div class="container-limited">
  <section>
    <div class="description">
      <h2>New Projects</h2>
      <p>Create a set of projects using predefined groups.
      <br /><br />
      The number of group names should match the number of user email groups.</p>
    </div>
    <div class="details">
      <div class="group-misc">
        <div>
          <h3>Group Prefix</h3>
          <input type="text" id="input_groupPre" pattern="[A-Za-z0-9\-\_]+"></input>
        </div>
        <div>
          <h3>Group Suffix</h3>
          <input type="text" id="input_groupSuf"></input>
        </div>
      </div>
      <h3>Group Names</h3>
      <p>A comma-separated list of names.</p>
      <input type="text" id="input_groupNames" placeholder="alpha, beta, gamma"></input>
      <h3>Project Name</h3>
      <input type="text" id="input_projectNames" placeholder="faloodah"></input>
      <h3>User Emails</h3>
      <p>A list of user emails in the box below. Groups are separated by an extra newline.</p>
      <textarea id="ta_userEmails" class="email-field" placeholder="email1@domain.com&#10;email2@domain.com&#10;&#10;email3@domain.com&#10;email4@domain.com"></textarea>
      <button class="button" id="btn_create">create projects</button>
      <button class="button-dialog" id="btn_cancel">cancel</button>
    </div>
  </section>
</div>
{% endblock %}


{% block modals %}
<div id="modal_wait" class="modal" style="display:none;">
  <div class="title">Creating...</div>
  <div class="description">
    Request submitted to server. This may take a minute or two, please wait...
  </div>
  <div class="controls">
    <img src="/static/img/spinner-generic.gif" alt="spinner">
  </div>
</div>
{% endblock %}