{% extends "../master.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/manager_projects.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/manager_projects.bundle.js"></script>
{% endblock %}

{% block bc_title %}
<a href="/manager/projects">Projects</a>
{% endblock %}

{% block body %}
<div class="container-limited">
  <div class="container">
    <div class="control">
      <ul class="nav-inner">
        <li class="{{nav_tab_visible}}"><a href="/manager/projects/visible">Visible</a></li>
        <li class="{{nav_tab_hidden}}"><a href="/manager/projects/hidden">Hidden</a></li>
        <li class="{{nav_tab_all}}"><a href="/manager/projects/all">All</a></li>
      </ul>
      <a href="/manager/projects/new" class="button" id="">New GitLab Project(s)</a>
    </div>
    <div class="manage">
      <fieldset class="checkbox">
        <input type="checkbox" id="select_all"/>
        <label for="select_all"></label>
      </fieldset>
      <input type="text" class="input-search" placeholder="Filter by name..."/>
      <div class="buttons">
        <button id="btn_leave" class="button-delete" title="Leave project in GitLab" disabled>leave project</button>
        <button id="btn_{{btn_id}}" class="button-delete" title="Hide/show project in GGT" disabled>{{btn_name}}</button>
        <button id="btn_delete" class="button-delete" title="Delete project from GitLab" disabled>delete</button>
      </div>
    </div>
    <div id="list_projects_wrapper">
      <ul id="list_projects" class="list-projects list">
        <li class="item-loading"></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}
<div id="modal_confirm_leave" class="modal modal-create-snapshot" style="display:none;">
  <div class="title">Notice</div>
  <div class="description">
    Leaving projects will not have an immediate effect (expected ~1-2 days). You cannot leave the projects you own even if the system tells you that it was a success.<br><br>
    You will leave the following <span id="count_leave"></span> project(s):<br>
    <div id="selected_list_leave" class="selected-list"></div>
  </div>
  <div class="controls">
    <button class="button-dialog close">cancel</button>
    <button id="btn_leave_confirm" class="button-drastic">leave</button>
  </div>
</div>

<div id="modal_confirm_delete" class="modal modal-create-snapshot" style="display:none;">
  <div class="title">Are you sure?</div>
  <div class="description">
    This operation cannot be reverted.<br><br>
    Deleting the last project in a group will also delete that group.<br><br>
    The following <span id="count_delete"></span> project(s) will be deleted:<br>
    <div id="selected_list_delete" class="selected-list"></div>
  </div>
  <div class="controls">
    <button class="button-dialog close">cancel</button>
    <button id="btn_delete_confirm" class="button-drastic">delete</button>
  </div>
</div>

<div id="modal_confirm_hide" class="modal modal-create-snapshot" style="display:none;">
  <div class="title">Notice</div>
  <div class="description">
    This will hide the selected projects within the GGT. The projects will be unaffected inside GitLab.<br><br>
    The following <span id="count_hide"></span> project(s) will be hidden:<br>
    <div id="selected_list_hide" class="selected-list"></div>
  </div>
  <div class="controls">
    <button class="button-dialog close">cancel</button>
    <button id="btn_hide_confirm" class="button-drastic">hide</button>
  </div>
</div>

<div id="modal_wait" class="modal" style="display:none;">
  <div class="title">Deleting...</div>
  <div class="description">
  </div>
  <div class="controls">
    <img src="/static/img/spinner-generic.gif" alt="spinner">
  </div>
</div>
<div id="modal_wait_hid" class="modal" style="display:none;">
  <div class="title">Hiding...</div>
  <div class="description">
  </div>
  <div class="controls">
    <img src="/static/img/spinner-generic.gif" alt="spinner">
  </div>
</div>
{% endblock %}