{% extends "../master.html" %}

{% block js_scripts %}{% endblock %}

{% block bc_title %}
<a href="/profile">Profile Settings</a>
{% endblock %}

{% block body %}
<div class="container-full">
  <div class="nav-wrapper-full">
    <ul class="nav-inner">
      <li class="select"><a href="/profile">Access Tokens</a></li>
    </ul>
  </div>
  <div class="content">{% block content %}{% endblock %}</div>
</div>
{% endblock %}