{% extends "profile.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/profile_access_tokens.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/profile_access_tokens.bundle.js"></script>
<script type="text/javascript" src="/static/js/apps/profile/tokens.js"></script>
<script type="text/javascript" src="/static/js/ws_watcher.js"></script>
{% endblock %}

{% block content %}
<div class="container-limited">
  <section>
    <div class="description">
      <h2>Personal Access Tokens</h2>
      <p>These disposable tokens are used to access application resources without authentication.</p>
    </div>
    <div class="details">
      <h3>GitLab SFU</h3>
      <p>Click <a target="_blank" href="https://csil-git1.cs.surrey.sfu.ca/profile/personal_access_tokens">here</a> to generate your personal access token. (Toggle <b>api</b> and <b>read_user</b> checkboxes)</p>
      <label for="">Access Token</label>
      <input data-source="gitlab" type="text" value="{{gitlabsfu_token}}"/>
      <button id="btn_update" class="button">update personal access tokens</button>
    </div>
  </section>
</div>
{% endblock %}