{% extends "profile.html" %}

{% block js_scripts %}
<script type="text/javascript" src="/static/js/apps/profile/tokens.js"></script>
<script type="text/javascript" src="/static/js/apps/profile/score.js"></script>
{% endblock %}

{% block rows %}
<div class="row">
  <div id="setFileType">
    <h3>FileTypes</h3>
    <p>Java: 
      <input type="radio" name="javaValue" value="0" checked>Primary
      <input type="radio" name="javaValue" value="1" >Secondary
      <input type="radio" name="javaValue" value="2" >Ignore
    </p>
    <p>C: 
      <input type="radio" name="cValue" value="0" checked>Primary
      <input type="radio" name="cValue" value="1" >Secondary
      <input type="radio" name="cValue" value="2" >Ignore
    </p>
    <p>cpp: 
      <input type="radio" name="cppValue" value="0" checked>Primary
      <input type="radio" name="cppValue" value="1" >Secondary
      <input type="radio" name="cppValue" value="2" >Ignore
    </p>
    <p>h: 
      <input type="radio" name="hValue" value="0" checked>Primary
      <input type="radio" name="hValue" value="1" >Secondary
      <input type="radio" name="hValue" value="2" >Ignore
    </p>
    <p>Javascript: 
      <input type="radio" name="jsValue" value="0" >Primary
      <input type="radio" name="jsValue" value="1" checked>Secondary
      <input type="radio" name="jsValue" value="2" >Ignore
    </p>
    <p>HTML: 
      <input type="radio" name="htmlValue" value="0" >Primary
      <input type="radio" name="htmlValue" value="1" checked>Secondary
      <input type="radio" name="htmlValue" value="2" >Ignore
    </p>
    <p>jpg: 
      <input type="radio" name="htmlValue" value="0" >Primary
      <input type="radio" name="htmlValue" value="1" >Secondary
      <input type="radio" name="htmlValue" value="2" checked>Ignore
    </p>
  </div>   
  <div id="ScoreWeight" class="table-wrapper">
    <h3>File Type Weight</h3>    
    <p>Primary: <input value="1" size="2"></p>
    <p>Secondary: <input value="0.5" size="2"></p>
    <p>Ignored: <input value="0" size="2"></p>
  </div>
</div>
{% endblock %}