div.container-full > div.content {
  @include calc(height, "100vh - 108px");
  width: $fill-parent;

  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);

  padding: 0 0;
  display: table;
  table-layout: fixed;

  > div {
    display: inline-block;
    height: $fill-parent;
  }

  div.divider {
    width: $margin-primary;
    display: table-cell;
    cursor: col-resize;

    background-color: #535353;
    background-image: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  div.panel-lists {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);

    $space: 12px;
    height: $fill-parent;

    display: table-cell;
    vertical-align: middle;

    div.panel-commits {
      /*height: $fill-parent;*/
      @include calc(height, "(100vh - 108px)");
      width: $fill-parent;

      border: 1px solid $color-divider-subtle!important;
    }
  }

  div.panel-files {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);

    div.total_diff_scores {
      height: auto;
      line-height: 28px;
      padding-left: $margin-primary;
      padding-right: $margin-primary;
      background-color: #e0e0e0;
      border: 1px solid $color-divider-subtle!important;
      overflow: auto;
      span { 
        display: inline-block;
      }
      
      div.total_scores {
        white-space: nowrap;
        vertical-align: middle;
        line-height: 20px;
        span { 
          display: inline-block; 
          padding-left: 15px; 
        }
      }
    }



    display: table-cell;
    height: $fill-parent;
    vertical-align: middle;

    div.wrapper {
      @include calc(height, "100vh - 108px");
      overflow-y: scroll;
      -webkit-transform: translatez(0);
      -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      transform: translatez(0);
    }
  }
}
