ul.files-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  li + li {
    margin-top: $margin-primary;
  }

  li {
    border: 1px solid $color-divider-subtle;

    div.title {
      height: 42px;
      line-height: 42px;
      padding-left: $margin-primary;
      background-color: #FAFAFA;
      border-bottom: 1px solid $color-divider-subtle;

      i {
        line-height: 38px;
        float: left;
        font-size:16px;
        margin-right: 3px;
        color: $color-secondary-text;
      }

      span { display: inline-block; }

    }

    div.diff_scores{
      @extend div.title;
      height: auto;
      line-height: 24px;
      background-color: #eeeeee;
      white-space: nowrap;
      overflow-x: auto;

      span { 
        overflow-x: auto;
        display: inline-block; 
        padding-left: 20px;  
      }
    }

    table.lines {
      -webkit-transform: translatez(0);
      -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      transform: translatez(0);
      
      width: $fill-parent;
      font-size: 13px;
      table-layout: fixed;

      td + td {
        border-left: 1px solid $color-divider-subtle;
      }

      td.line-num {
        width: 40px;
        text-align: right;
        vertical-align: top;
        padding: 0 5px;
        background-color: #FAFAFA;
        color: $color-secondary-text;
        @include user-select(none);
        border-left: 1px solid $color-divider-subtle;
        border-right: 1px solid $color-divider-subtle;

        &.old{
          background-color: #F9D7DC;
          border-color: #FAC5CD;
        }
        &.new {
          background-color: #DDFBE6;
          border-color: #c7f0d2;
        }
      }

      td.line-data {
        font-family: 'Source Code Pro', monospace;
        width: 100%;
        position: relative;
        white-space: pre-wrap;
        word-break: break-all;
        padding: 0;
        background-color: white;

        code {
          margin: 0;
          padding: 0;
          display: inline-block;
          background-color: inherit;
        }

        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          font-size: 13px;
          font-family: 'Source Code Pro', monospace;
          top: 0;
          left: 0;
        }

        &.old{
          background-color: #FBE9EB;
          &:before { content: "-"; }
        }

        &.new {
          background-color: #ECFDF0;
          &:before { content: "+"; }
        }

        &.misc, &.hunk {
          color: $color-secondary-text;
          background-color: #FAFAFA;
        }

        &.refactors {
          &.old {
            > code {
              background-color: rgba(204, 0, 0, 0.2);
            }
          }

          &.new {
            > code {
              background-color: rgba(0, 102, 0, 0.2);
            }
          }
        }

        &.whitespace {
          background-color: rgba(255, 255, 204, 0.2);
        }

        &.moves {
          background-color: rgba(0, 102, 255, 0.2);
        }
      }
    }
  }
}