div.dataTables_wrapper {
  width: $fill-parent;
  height: $fill-parent;

  .orphanage {
    background-color: yellow;
  }

  div.dataTables_scroll {
    @include calc(height, "100% - 28px");
    width: $fill-parent;
  }

  div.dataTables_scrollHead {
    height: 32px;
    background-color: #FAFAFA;
    border-bottom: 1px solid $color-divider!important;

    div.dataTables_scrollHeadInner {
      height: 32px;
      width: -webkit-calc(100% - 17px)!important;
      width: calc(100% - 17px)!important;

      table {
        height: 32px;
        width: $fill-parent!important;
        table-layout: fixed;

        th {
          white-space: nowrap;
          word-wrap: break-word;
          text-overflow: ellipsis;
          overflow: hidden;

          color: $color-secondary-text;
          font-weight: $font-weight-regular;
          font-size: 12px;
          text-align: left;
          padding-left: $margin-primary;

          &.right { text-align: right; }
          &.mid { text-align: center; }
        }
      }
    }
  }

  div.dataTables_scrollBody {
    overflow-y: scroll!important;
    @include calc(height, "100% - 32px");
    border-bottom: none!important;

    table {
      table-layout: fixed;
      width: $fill-parent!important;

      tr {
        cursor: pointer;
        height: 41px;
        &:hover {
          background-color: $color-primary-light!important;
        }

        &.unowned {
          opacity: 0.7;
          background-color: gray;
        }

        &.selected {
          background-color: #b0bed9;
        }
      }

      td {
        height: 18px;
        white-space: nowrap;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: left;
        padding-left: $margin-primary;
        padding-right: 4px;

        &.right { text-align: right; }
        &.mid { text-align: center; }

        a {
          padding-top: 7px;
          color: $color-primary-text;
          height: 18px;
          display: inline-block;

          i {
            line-height: 18px;
            height: 18px;
          }
        }
      }

      tr + tr td  {
        border-top: 1px solid $color-divider-subtle;
      }
    }
  }

  div.dataTables_info {
    width: $fill-parent;
    height: 28px;
    padding: 0;
    padding-left: $margin-primary;
    color: $color-secondary-text;

    line-height: 28px;
    background-color: #FAFAFA;
    border-top: 1px solid $color-divider!important;
  }
}

div#table_mr_wrapper {
  th, td {
    &.ttl         { width: 21%!important; }
    &.sb          { width: 10%!important; }
    &.loc         { width: 7%!important; }
    &.fn          { width: 5%!important; }
    &.url         { width: 4%!important; }
    &.date        { width: 8%!important; }
    &.whitespace  { width: 7%!important; }
    &.syntax      { width: 5%!important; }
    &.moves       { width: 6%!important; }
    &.refactors   { width: 7%!important; }
    &.insertions  { width: 7%!important; }
    &.deletions   { width: 6%!important; }
    &.sum         { width: 7%!important; }
  }
}

div#table_commits_wrapper {
  th, td {
    &.ttl         { width: 21%!important; }
    &.auth        { width: 7%!important; }
    &.date        { width: 9%!important; }
    &.add         { width: 5%!important; }
    &.del         { width: 5%!important; }
    &.net         { width: 5%!important; }
    &.whitespace  { width: 5%!important; }
    &.syntax      { width: 5%!important; }
    &.moves       { width: 5%!important; }
    &.refactors   { width: 5%!important; }
    &.insertions  { width: 5%!important; }
    &.deletions   { width: 5%!important; }
    &.sum         { width: 7%!important; }
  }
}