header.header-main {
  $height: $header-height;

 // @include fill-parent;
  width: 100%;
  height: $height;

  position: fixed;
  top: 0;
  padding-left: 220px; // Temp until sidebar starts moving
  @include transition(all 0.15s ease-in-out);


  z-index: 1;

  background-color: $color-header;
  border-bottom: 1px solid $color-divider-subtle;

  div.content {
    height: $fill-parent;

    margin-left: $margin-primary;
    margin-right: $margin-primary;

    position: relative;

    div.button-toggle {
      height: 40px;
      width: 40px;
      text-align: center;
      cursor: pointer;
      @include user-select(none);
      float: left;
      margin-top: 5px;
      margin-right: 5px;
      display: none;

      &:hover {
        background-color: #F5F5F5;
      }

      i {
        color: $color-primary-text;
        line-height: 40px;
      }
    }
  }

  h1.title {
    $font-size: 19px;

    height: $fill-parent;

    @include display(inline-block);
    margin: 0;
    padding: 0;

    font-size: $font-size;
    font-weight: $font-weight-regular;
    line-height: $height;

    a {
      color: $color-primary-text;
      text-decoration: none;
      float: left;

      &:visited { text-decoration: none; }
      &:hover { text-decoration: underline; }
    }

    ul.dropdown {
      float: left;

      list-style: none;
      margin: 0;
      padding: 0;

      li > a > p {
        margin: 0;
        float: left
      }

      li > a > i {
        margin: 0;
        line-height: $header-height;
      }

      > li > div {
        display: none;
        background-color: #FFFFFF;
        width: 500px;
        top: 46px!important;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        h2 {
          text-align: center;
          font-size: 16px;
          line-height: 26px;
          border-bottom: 1px solid $color-divider-subtle;
          margin: 0 $margin-primary;
          font-weight: $font-weight-medium;
        }

        ul {
          list-style: none;
          padding: 0;
          margin-top: 4px;
          margin-bottom: 4px;
          max-height: 300px;
          overflow-y: auto;

          li {
            line-height: 17px;
            height: 23px;
            font-size: 16px;
            padding: 0 8px;

            a {
              width: $fill-parent;
              display: block;
              padding: 3px 8px;
              text-decoration: none;

              &:hover {
                background-color: $color-primary-light;
              }
            }
          }
        }
      }
    }

    span {
      float: left;
    }
  }

  div.wrapper-nav {
    float: right;
    height: $fill-parent;
    margin-right: 226px;
  }

  div.logo {
    position: absolute;
    margin-left: 50%;
    left: -39px;
    top: 7.5px;
    height: 50px;

    img {
      height: 35px;
    }
  }
}

.header-user-nav {
  height: $fill-parent;

  list-style: none;
  margin: 0;
  padding: 0;

  &> li {
    float: left;
    height: $fill-parent;
  }
}

.avatar-nav {
  > li > a {
    height: 26px;
    display: block;

    margin: 12px 0;

    color: $color-primary-text;
    position: relative;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 26px;
    float: left;
    margin-right: 8px;
  }

  img {
    width: 26px;
    height: 26px;
    float: left;
  }

  i {
    line-height: 26px;
    color: $color-secondary-text;
  }

  ul, ul.dropit-submenu {
    display: none;
    background-color: white;
    padding: 5px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    position: absolute;
    top: 34px;
    left: inherit;
    right: 0;
    border-radius: 2px;

    li {
      margin: 0 8px;
      border-radius: 2px;

      &:last-child {
        border-top: 1px solid $color-divider-subtle;
        margin-top: 5px;
        padding-top: 5px;
      }

      a {
        width: $fill-parent;
        color: $color-primary-text;
        text-decoration: none;
        display: inline-block;
        padding: 5px 8px;

        &:hover {
          background-color: $color-primary-light;
        }
      }
    }
  }
}
