aside.wrapper-sidebar {
  width: 220px; // Temp
  height: $fill-parent;

  overflow: hidden;
  @include transition(all 0.15s ease-in-out);


  position: fixed;
  top: 0;
  z-index: 1;

  background-color: #272727;

  div.panel-action {
    width: $fill-parent;
    height: $header-height;
    
    div.button-toggle {
      width: $header-height;
      height: $header-height;
      cursor: pointer;
      @include user-select(none);

      i {
        line-height: $header-height;
        width: 24px;
        text-align: center;
        margin-left: 13px;
        color: #979797;
      }

      &:hover > i {
        color: #FFFFFF;
      }
    }

  }
}