.container-project-main {
  width: 1248px;

  position: absolute;
  left: 50%;

  margin: 0;
  margin-left:-624px;
  margin-top: 16px;
  
  padding: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container-project-main .panel-head {
  padding-top: 16px;
  padding-bottom: 16px;

  background-color: #f7f8fa;
}

.container-project-main .panel-summary {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 64px;

  background-color: #f7f8fa;
  border-top: 1px solid #BDBDBD;  
  border-bottom: 1px solid #BDBDBD;
  box-sizing: border-box;
  
  text-align: center;
}

.container-project-main .panel-snap-control {
  position: relative;
  height: 56px;

  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD;
  box-sizing: border-box;
}

.container-project-main .panel-snap-control .panel-right {
  position: absolute;
  right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-project-main h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  
  text-align: center;
  font-size: 26px;
}

.container-project-main h2 {
  text-align: center;
  color: #757575;
  font-size: 20px;
  
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.container-project-main h3 {
  text-align: center;
  font-size: 18px;

  padding: 0;
  margin: 0;
  margin-top: 10px;
}