div.container-limited {
  margin-top: $margin-primary;
}

section {
  width: $fill-parent;
  display: table;
  table-layout: fixed;

  div.description {
    display: table-cell;
    vertical-align: top;
    width: 300px;
    padding: 0 $margin-primary;

    h2 {
      font-weight: $font-weight-medium;
      font-size: 18px;
      margin: 0 0 $margin-primary 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
      color: $color-accent-text;
    }
  }

  div.details {
    display: table-cell;

    h3 {
      font-weight: $font-weight-medium;
      font-size: 14px;

      margin: 0;
      padding: 0;
    }

    p {
      color: $color-accent-text;
    }

    label {
      display: inline-block;
      font-weight: $font-weight-medium;
      margin-bottom: 6px;
    }

    a {
      text-decoration: none;
      color: $color-primary-text;
      font-weight: $font-weight-medium;

      &:hover {
        text-decoration: underline;
      }
    }

    input[type="text"] {
      width: $fill-parent;
      padding: 6px 10px;
    }

    button {
      margin-top: $margin-primary;
    }
  }
}