.button {
  min-width: 88px;
  height: 36px;
  border-radius: 2px;
  border: none;
  background-color: #4CAF50;
  color: #FFFFFF!important;

  padding-right: 16px;
  padding-left: 16px;

  line-height: 36px!important;
  text-align: center;
  text-transform: uppercase!important;
  font-weight: 600!important;
  font-size: 14px!important;
  
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  
  cursor: pointer;
}

.button:disabled {
  opacity: 0.4;
  cursor: default;
}

.button > i {
  height: 36px;
  padding: 0;
  margin: 0;
  float: left;
  line-height: 35px!important;
  font-size: 18px!important;
}

.button > p{
  padding: 0;
  margin: 0;
  float: left;
}

.button-anchor {
  display: inline-block;
  background-color: #F44336;
}


/*===========================================================================*/

input[type="checkbox"] {
/*  height: 100%;*/
  position: relative;
  margin: 0!important;
  padding: 0!important;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  outline: none;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 2px;
}

input[type="checkbox"]:checked:before {
  content = "";
  background-color: #000000;
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);

  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}