.container-limited {
  width: 1248px;

  position: absolute;
  left: 50%;

  margin: 0;
  margin-left:-624px;
  margin-top: 16px;
  
  padding: 0;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container-limited > .row {
  padding: 16px;
  position: relative;
  width: 100%;
  display: flex;
}

.container-limited > .row > .desc {
  width: 300px;
}

.container-limited > .row > .desc > h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.container-limited > .row > .details {
  flex-grow: 1;
  margin-left: 16px;
}

.container-limited > .row > .details > h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #212121;
}

.container-limited > .row > .details > p {
  color: #757575;
}

.container-limited > .row > .details > input[type="text"] {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

.container-limited > .row > .details a:hover {
  border-bottom:1px solid #757575;
}

.container-limited > .row > .details button {
  margin-top: 16px;
}

/*
*
*  EXTENDED CONTAINER
*
*/

.container-extended {
  /*position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;*/
  margin: 16px;
  
  padding: 0;
  /*background-color: #FFFFFF;*/
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-extended-wrapper {
  /*border: 1px solid black;*/
  margin: 16px;
  flex: 1;
  display: flex;
  
  -ms-flex-direction: column;
  flex-direction: column;
}


.container-extended > .row {
  /*background-color: #FFFFFF;*/
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: stretch;
  align-self: stretch;
}

.container-extended-wrapper > .row {
  /*background-color: #FFFFFF;*/
  position: relative;
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
}




.container-nav {
  width: 100%;
  background-color: #FAFAFA;
  border-bottom: 1px solid #BDBDBD;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container-nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-nav > ul > li {
  height: 100%;
  display: inline-block;
}


.container-nav > ul > li > a{
  display: block;
  height: 100%;
  line-height: 51px;
  
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;

  color: #757575!important;
}

.container-nav > ul > li > a.select{
  border-bottom: 3px solid #D32F2F;
}

.container-nav > ul > li > a:hover{
  color: #B5B5B5!important;
}