.dd_list {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dd_list i {
  height:50px;
  line-height: 50px;
}

.dd_list > li > a > p {
  margin: 0;
  float: left
}

.dd_list > li > a > i {
  margin: 0;
  float: left
}

.dd_list ul {
  list-style: none;
}

.dd_list div {
  display: none;
}

.dropit-submenu h2 {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.dropit-submenu {
  background-color: #FFFFFF;
  width: 500px;
  top: 54px!important;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dropit-submenu ul {
  list-style: none;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  max-height: 300px;
  overflow-y: auto;
}

.dropit-submenu li {
  line-height: 15px;
  font-size: 16px;
}

.dropit-submenu a {
  display: block;
  padding: 4px;
  margin-left: 16px;
  margin-right: 16px;
}

.dropit-submenu a:hover {
  background-color: #FFCDD2;
}
