.input-generic {
  height: 40px;
  width: 300px;
  border: none;
  border-bottom: 4px solid #BDBDBD;
  outline: none;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 16px;
  
  font-size: 14px;
  vertical-align: bottom;
}

.input-generic + label {
  position: relative;
  left: -303px;
  top: -28px;
}

.input-generic:focus {
  border-bottom: 4px solid #F44336;
}

.input-generic:focus + label {
  top: -45px;
  font-size: 12px;
  color: #F44336;
}

.input-generic:valid + label {
  top: -45px;
  font-size: 12px;
  color: #F44336;
}

.input-calendar-generic {
  width: 300px;
  height: 40px;
}

.input-calendar-generic input {
  width: 220px;
  height: 100%;
  float: left;
  border: none;
  border-bottom: 4px solid #BDBDBD;
}

.input-calendar-generic a{
  min-width: 40px;
  width: 40px;
  height: 100%;
  margin: 0!important;
  padding: 0!important;
  float: left;
}

.input-calendar-generic i {
  line-height: 40px!important;
  height: 40px;
  width: 40px;
}