.label-generic {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.label-generic.completed {
  background-color: #388E3C;
}

.label-generic.processing {
  background-color: #3F51B5;
  padding-right: 24px;
  background-image: url("/static/img/spinner-processing.gif");
  background-size: 11px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 72px;
}

.label-generic.failed {
  background-color: #D32F2F;
}