.list-generic {
  width: 1248px;
  
  position: relative;
  left: 50%;
  
  margin: 0;
  margin-left:-624px;

  padding: 0;
  list-style: none;
  
  background-color: #FFFFFF;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.item-dropdown {
  position: relative;
  
  height: 56px;
  
  padding-left: 16px;
  line-height: 56px;
  
  /*padding*/
}

.item-generic {
  position: relative;
  
  height: 56px;
  
  padding-left: 16px;
  line-height: 56px;
  
  /*padding*/
}

.item-generic + .item-generic {
  border-top: 1px solid #f0f0f0;
}

.item-generic > .avatar {
  width: 40px;
  height: 40px;
  -moz-border-radius: 24px; 
  -webkit-border-radius: 24px; 
  border-radius: 24px;
  border: 1px solid #BDBDBD;
  float: left;
  
  margin-top: 8px;
  margin-right: 16px;
  
  background-color: #F44336;
  
  text-align: center;
  color: #FFFFFF;
  line-height: 40px;
  font-weight: 500;
  font-size: 18px;
}

.item-generic > a {
  font-weight: 500;
  color: #212121;
  
  display: inline;
}

.item-generic > .stat-snapshots {
  color: #212121;
  position: absolute;
  right: 16px;
  top: 0px;
  
  line-height: 56px;
  height: 100%;
  
/*
  height: 24px;
  margin-top: 16px;
*/
}

.item-generic > .stat-snapshots > i {
  line-height: 56px;
  float: left;
  font-size: 18px;
  
  cursor: default;
}

.item-generic > .stat-snapshots:hover:after {
  content: "The number of snapshots this project has";
  position: absolute;
  right: 34px;
  top: 16.5px;
  vertical-align: middle;
  
  background-color: #000000;
  font-size: 13px;
  color: #FFFFFF;
  width: 280px;
  line-height: normal;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  
  box-sizing: border-box;
  
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px;
  
  z-index: 1;
}

.item-generic > .stat-snapshots > p {
  margin: 0;
  padding: 0;
  float: left;
  line-height: 58px;
  margin-left: 4px;
}

/*===========================================================================*/

.scrollable-menu {
  max-height: 300px;
  width: 400px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #FFFFFF;
  list-style: none;
}

.scrollable-menu .item-project-dropdown {
  background-color: #FFFFFF;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 6px;
  /*border-bottom: */
}

.scrollable-menu .item-project-dropdown:hover {background-color: #f1f2f4;}

.scrollable-menu li:not(:last-child) {
  border-bottom: 1.5px solid #f2f2f2;
}

/*===========================================================================*/


.list-compressed-detailed {
  background-color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-compressed-detailed .item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 68px;
  line-height: 24px;
}

.list-compressed-detailed .item + .item {
  border-top: 1px solid #f0f0f0;
}

.list-compressed-detailed .item .panel-left {
  height: 48px;;
}

.list-compressed-detailed .item .section-title {
/*  display: inline;*/
  height: 50%;
}

.list-compressed-detailed .item input[type="checkbox"] {
  float: left;
  margin-top: 3px!important;
  margin-right: 16px!important;
}

.list-compressed-detailed .item a {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  
  display: inline;
}

.list-compressed-detailed .item .desc {
  margin-left: 34px;
  color: #757575;
}