.modal-generic {
  border-radius: 0;
  padding: 0;
  width: 400px;
}

.modal-generic .title {
  padding: 24px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.modal-generic .content {
  position: relative;
  padding: 24px;
  padding-top: 0;
}

.modal-generic .control {
  padding: 8px;
  height: 52px;
}

.modal-generic .button {
  margin-left: 8px;
  background-color: #FFFFFF;
  color: #000000!important;
}


.modal-generic .button:hover {
  background-color: rgba(0, 0, 0, 0.12)!important;
}