.img-spinner-generic {
  width: 50px;
  height: 50px;
  
  position: relative;
  left: 50%;
  margin-left: -25px;
  
  background-image: url("/static/img/spinner-generic.gif");
  background-size: 100%;
  background-position: center center;
}

.img-spinner-dropit {
  width: 20px;
  height: 20px;
  
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -25px;
  
  background-image: url("/static/img/spinner-generic.gif");
  background-size: 20px;
  background-position: center center;
}