div.container-text-main {
  padding: $margin-primary 0;
  border-bottom: 1px solid $color-divider-subtle;
}

div.project-buttons {
  text-align: center;
}

div.project-control {
  height: 56px;
  border-bottom: 1px solid $color-divider-subtle;

  padding: 10px 0;

  div.left {
    display: inline-block;
    height: $fill-parent;

    .checkbox {
      margin: 9px 0;
      margin-left: $margin-primary;
    }
  }

  div.right {
    float: right;
    
    button.button-delete {
      visibility: hidden;
    }
  }
}