h1.project-title {
  text-align: center;
  font-size: 24px;
  font-weight: $font-weight-regular;
  margin: 0;
  padding: 0;
}

h2.project-namespace {
  text-align: center;
  font-size: 20px;
  color: $color-secondary-text;
  font-weight: $font-weight-regular;
  margin: 6px 0;
  padding: 0;
}