div.group-input {
  height: 29px;
  display: inline-block;

  &> * {
    border: 1px solid $color-divider-subtle;
  }
  
  &> * + * {
    border-left: none;
  }

  & *:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  & *:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  a {
    display: block;
    height: $fill-parent;

    float: left;
    padding: 3px 10px;

    color: $color-primary-text;
    text-decoration: none;

    background-color: #FAFAFA;

    &:hover {
      background-color: #F5F5F5;
    }

    i {
      line-height: 23px;
      font-size: 18px;
      color: #7E7C7C;
    }
  }
}

input.project-redirect {
  width: 279px;
  height: 29px;
  box-sizing: border-box;

  float: left;
  padding: 6px 10px;
  // border: none;

  font-size: 14px;
}

fieldset.input-text {
  width: 300px;
}