ul.list-snapshots {
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    height: 62px;
    padding: 10px $margin-primary;

    div.title {
      height: 22px;
      line-height: 22px;

      .checkbox {
        margin-top: 2px;
        float: left;
        margin-right: 10px;

        &> input[type="checkbox"] {
          &.completed + label:before { border-color: #38AE67; }
          &.completed:checked + label:before { background-color: #38AE67; }

          &.processing + label:before { border-color: #428BCA; }
          &.processing:checked + label:before { background-color: #428BCA; }

          &.failed + label:before { border-color: #FF0000; }
          &.failed:checked + label:before { background-color: #FF0000; }
        }
      }

      a.text {
        display: block;
        float: left;
        margin-right: 10px;

        color: $color-primary-text;
        text-decoration: none;
        font-weight: $font-weight-medium;
        font-size: 15px;
      }

      span.label-status {
        float: left;
        padding: 0 12px;
        padding-right: 30px;
        height: 22px;
        color: $color-primary-itext;
        line-height: 22px;
        font-size: 12px;
        border-radius: 2px;

        &.completed {
          background-color: #38AE67;
        }

        &.processing {
          background-color: #428BCA;
          background-image: url("/static/img/spinner-processing.gif");
          background-size: 11px;
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 10px;
          padding-left: 24px;
        }

        &.failed {
          background-color: #FF0000;
        }
      }
    }
    div.right {
      float: right;
      padding-top: 10px;
    }
    
    div.info {
      height: 22px;
      line-height: 22px;
      color: $color-secondary-text;
      &> *:first-child {
        margin-left: 28px;
      }
    }
    div.range_info {
      @extend div.info;
      &> *:first-child {
        margin-left: 12px;
      }
    }
  }

  li + li {
    border-top: 1px solid $color-divider-subtle;
  }
}