div.modal-create-snapshot {
  //width: 400px;
  padding: 0 $margin-primary;

  div.input-calendar {
    width: 300px;
    height: 60px;

    input {
      width: 220px;
      height: 60px;

      float: left;
      padding-bottom: 8px;
      padding-top: 32px;

      border: none;
      border-bottom: 2px solid $color-divider;

      &.active {
        border-bottom: 2px solid $color-primary-dark;
      }
    }

    a {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      text-align:center;
      cursor: pointer;
      margin-top: 20px;

      color: $color-primary-text;
      text-decoration: none;
      background-color: #FAFAFA;
      border: 1px solid $color-divider-subtle;

      &:hover {
        background-color: #F5F5F5;
      }

      i {
        line-height: 40px;
        font-size: 18px;
        color: #7E7C7C;
      }
    }
  }
}