.panel-row {
  position: relative;
  flex: 1;

  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel-row + .panel-row {
  margin-top: 16px;
}

.dataTables_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dataTables_scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dataTables_scrollBody {
  flex: 1;
  /*height: 0px;*/
  overflow: auto;
}


caption {
  width: 100%;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  background-color: #FAFAFA;
}



table {
  table-layout: fixed;
  width: 100%;
}

table a {
  font-weight: 500!important;
}

table a:hover {
  text-decoration: underline!important;
}

th, td {
  text-overflow: ellipsis;
  overflow:hidden;
  word-wrap:break-word;
  white-space: nowrap;
}

th {
  color: #757575;
  font-weight: 500!important;
  font-size: 13px;
  padding-left: 16px!important;
}

.dataTables_scrollHead {
  display: flex;
}

.dataTables_scrollHeadInner, .dataTable.no-footer {
  width: 100%!important;
  flex: 1;
}
tbody tr + tr td {
  border-top: 1px solid #BDBDBD;
}

.dataTables_scrollBody {
  overflow-y: scroll!important;
}

.td-left {
  text-align: left;
}

.td-right {
  text-align: right;
}



.td-center {
  text-align: center;
}


.dataTables_info {
  padding-top: 0!important;
  line-height: 27px;
  padding-left: 10px;
  background-color: #FAFAFA;
  width: 100%;
}