{% extends "../master.html" %}

{% block stylesheets %}{% endblock %}
{% block javascript %}{% endblock %}

{% block bc_title %}
<a href="/projects">Projects</a>
<span>&nbsp;/&nbsp;</span>
<a href="{{project_url}}">{{project_name}}</a>
<span>&nbsp;/&nbsp;</span>
<a href="{{snapshot_url}}">{{snapshot_name}}</a>
<span>&nbsp;/&nbsp;</span>
<a href="{{member_url}}">{{member_name}}</a>
<ul class="dd_list dropdown" id="nav_dropdown_members">
  <li>
    <a href="">
      <i class="material-icons">&#xE5C5;</i>
    </a> 
    <div>
      <h2>Change member</h2>
      <ul id="dd_member_list">
        {% for member in members %}
        {% include "../../snippets/member_item_dropdown.html" %}
        {% empty %} <p>There are no members in this project</p>
        {% endfor %}
      </ul>
    </div>
  </li> 
</ul>
{% endblock %}

{% block body %}
<div class="container-full">

  <div class="score-display-box">
    <ul class="score-display-list">
	    <li class="stat" title="Total score of all commits">
	      <span>{{score}}</span>
	      <i class="material-icons">&#xE80C;</i>
	    </li>
	    <li class="stat" title="Total words in MR notes">
	      <span>{{word_count}}</span>
	      <i class="material-icons">&#xE264;</i>
	    </li>
    </ul>
  </div>
  
  <div class="score-display-box-right-fillerXXX">
    {% comment %} Soak up space on right to balance. {% endcomment %} 
  </div>
  
  <div class="nav-wrapper-full">
    <ul class="nav-inner">
      <li class="{{select_graphs}}"><a href="/snapshots/{{snapshot_hash}}/{{member_username}}/graphs">Graphs</a></li>
      <li class="{{select_mr}}"><a href="/snapshots/{{snapshot_hash}}/{{member_username}}/merge_requests">Merge Requests</a></li>
      {% comment %}<li><a href="/snapshots/{{snapshot_hash}}/{{member_username}}/commits">Commits</a></li>{% endcomment %}
      <li class="{{select_notes}}"><a href="/snapshots/{{snapshot_hash}}/{{member_username}}/notes">Notes</a></li>
      <li class="{{select_scores}}"><a href="/snapshots/{{snapshot_hash}}/{{member_username}}/scores">Commits</a></li>
    </ul>
  </div>
  
  <div class="content">{% block content %}{% endblock %}</div>
</div>
{% endblock %}