{% extends "member.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/css/notes/main.css">
<link rel="stylesheet" href="/static/css-new/member_graphs.css">
{% endblock %}  

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/member_notes.bundle.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/apps/notes/main.js"></script>
<script type="text/javascript" src="/static/js/ws_watcher.js"></script>
{% endblock %}

{% block content %}
<div class="panel-row">
  <table id="table_notes" class="display">
    <caption>All Notes</caption>
    <thead>
      <tr>
        <th class="td-left">Content with link</th>
        <th class="td-right">Date</th>
        <th class="td-right">Type</th>
        <th class="td-right">To</th>
        <th class="td-right">Word Count</th>
      </tr>
    </thead>
    <tbody>
      {% for note in notes %}
      <tr>
        <td class="td-left"><a target="_blank" href="{{note.url}}">{{note.body}}</a></td>
        <td class="td-right">{{note.date}}</td>
        <td class="td-right">{{note.type}}</td>
        <td class="td-right">{{note.direction}}</td>
        <td class="td-right">{{note.word_count}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}