{% extends "member.html" %} 

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/member_graphs.bundle.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css-new/member_graphs.css">
{% endblock %}

{% block content%}
<div class="container-limited">
  <div class="graph-wrapper"> 
    <h2>Commits and Merge Requests</h2>
    <div class="graph" id="graph_commit_mr"></div>
  </div>
  <div class="graph-wrapper">
    <h2>Notes</h2>
    <div class="graph" id="graph_note"></div>
  </div>
</div>
{% endblock %}
