{% extends "member.html" %}

{% block stylesheets %} 
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/arduino-light.min.css">-->
<!--<link rel="stylesheet" href="/static/css/mr/main.css">-->
<link rel="stylesheet" href="/static/css-new/member_mr.css">
{% endblock %}
 
{% block js_scripts %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/static/js/lib/highlight.pack.min.js"></script>

<script type="text/javascript" src="/static/js/apps/mr/main.js"></script>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascript/dist/member_mr.bundle.js"></script>
{% endblock %}

{% block content %}
<div class="panel-lists" id="panel_lists">
  <div class="panel-mrs">
    <table class="data-table" id="table_mr">
      {% comment %}<thead>
        <tr>
          <th class="title">Title</th>
          <th class="td-left">Description</th>
          <th class="td-right">Src Branch</th>
          <th class="td-right">Files &Delta;</th>
          <th class="td-right">LoC &Delta;</th>
          <th class="td-center">URL</th>
        </tr>
      </thead>
      <tbody id="mr_list">
        {% for merge_request in merge_requests %}
        <tr data-ggs-id="{{merge_request.id}}" class="{{merge_request.disowned}}">
          <td class="title">{{merge_request.title}}</td>
          <td class="td-left">{{merge_request.description}}</td>
          <td class="td-right">{{merge_request.source_branch}}</td>
          <td class="td-right">{{merge_request.file_num}}</td>
          <td class="td-right">{{merge_request.loc}}</td>
          <td class="td-center"><a target="_blank" href="{{merge_request.url}}"><i class="material-icons">&#xE895;</i></a></td>
        </tr>
        {% endfor %}
      </tbody>{% endcomment %}
    </table>
  </div>
  <div class="panel-commits">
    <table id="table_commits">
      {% comment %}<thead>
        <tr>
          <th class="td-left">Title</th>
          <th class="td-left">Message</th>
          <th class="td-left">Author</th>
          <th class="td-right">Date</th>
          <th class="td-right">(+)</th>
          <th class="td-right">(-)</th>
          <th class="td-right">&Delta;</th>
        </tr>
      </thead>
      <tbody id="commit_list">
        {% for commit in commits %}
        {% include "../../snippets/item_commit_mr.html" %}
        {% endfor %}
      </tbody>{% endcomment %}
    </table>
  </div>
</div>
<div class="divider" id="divider"></div>
<div class="panel-files">
  <div class="wrapper">
    <div class="total_diff_scores" id="total_score">
      {% include "../../snippets/div_total_score.html" %}
    </div>
    <ul class="files-list" id="files_list">
      {% for file in files %}
      {% include "../../snippets/li_file.html" %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
<!--<div class="wrapper-content">
  <div class="wrapper-left">
    <div class="wrapper-rows">
      <div class="panel-row">
        <table  id="table_mr" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="td-left">Title</th>
              <th class="td-left">Description</th>
              <th class="td-right">Src Branch</th>
              <th class="td-right">Files &Delta;</th>
              <th class="td-right">LoC &Delta;</th>
              <th class="td-center">URL</th>
            </tr>
          </thead>
          <tbody id="mr_list">
            {% for merge_request in merge_requests %}
            <tr data-ggs-id="{{merge_request.id}}" class="{{merge_request.disowned}}">
              <td class="td-left">{{merge_request.title}}</td>
              <td class="td-left">{{merge_request.description}}</td>
              <td class="td-right">{{merge_request.source_branch}}</td>
              <td class="td-right">{{merge_request.file_num}}</td>
              <td class="td-right">{{merge_request.loc}}</td>
              <td class="td-center"><a target="_blank" href="{{merge_request.url}}"><i class="material-icons">&#xE895;</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="panel-row">
        <table cellspacing="0" cellpadding="0" id="table_commits">
          <thead>
            <tr>
              <th class="td-left">Title</th>
              <th class="td-left">Message</th>
              <th class="td-left">Author</th>
              <th class="td-right">Date</th>
              <th class="td-right">(+)</th>
              <th class="td-right">(-)</th>
              <th class="td-right">&Delta;</th>
            </tr>
          </thead>
          <tbody id="commit_list">
            {% for commit in commits %}
            {% include "../../snippets/item_commit_mr.html" %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="divider-wrapper"></div>
  <div class="wrapper-right">
    <div class="panel-changes">
      <ul id="file_list" class="file-list">
      {% for file in files %}
      {% include "../../snippets/item_file_commit.html" %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>-->
