@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font-weight-regular: 400;
$font-weight-medium: 500;