.container-snapshot-main {
  width: 1248px;

  position: absolute;
  left: 50%;

  margin: 0;
  margin-left:-624px;
  padding: 0;
  color: #212121;
}

.container-snapshot-main > section {
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #FFFFFF;
  
  margin-top: 16px;
}

.container-snapshot-main > section > .header {
  font-size: 14px;
  margin: 0;
  padding: 16px;

  background-color: #FAFAFA;
  border-bottom: 1px solid #BDBDBD;
}

.container-snapshot-main > section > .footer {
  padding: 16px;
  border-top: 1px solid #BDBDBD;
  background-color: #FAFAFA;
}

.container-snapshot-main > section > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-snapshot-main > section > ul > li {
  padding: 10px;
  padding-left: 16px;
  height: 64px;
  font-size: 15px;
}

.container-snapshot-main > section > ul > li+li {
  border-top: 1px solid #f0f0f0;
}

.container-snapshot-main > section > ul > li a {
  font-weight: 500;
}

.container-snapshot-main > section > ul > li .member-username {
  color: #757575;
}

.member-emails {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member-emails > li{
  float: left;
  padding: 4px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #f0f0f0;
  color: #757575;
}

.member-emails > li + li{
  margin-left: 6px;
}

.list-authors > li {
  height: 42px!important;
  position: relative;
}

.author-email {
  font-weight: 500;
}

.author-name {
  color: #757575;
}

.panel-member-select {
  position: absolute;
  top: 0;
  right: 16px;
  height: 100%;
}

.SumoSelect {
  margin-top: 6px;
  width: 200px;
  color: #757575!important;
}

.SumoSelect > .CaptionCont {
    border: 1px solid #f0f0f0;
}

.member-stats {
  margin-right: 16px;
}

.member-stats div {
  float: left;
}

.member-stats div + div {
  margin-left: 16px;
}

.member-stats i {
  line-height: 64px;
  float: left;
  font-size: 18px;
  
  cursor: default;
}

.member-stats p {
  margin: 0;
  padding: 0;
  float: left;
  line-height: 64px;
  margin-left: 4px;
}