div.wrapper-full {
  width: 100%;
  display: table;
  table-layout: fixed;

  div.wrapper-half {
    display: table-cell;
    vertical-align: top;
  }

  div.wrapper-half + div.wrapper-half {
    border-left: $margin-primary solid #FFFFFF;
  }
}