@mixin header() {
  text-align: left;
  padding-left: $margin-primary;
  border-bottom: 1px solid $color-divider-subtle;
  background-color: #FAFAFA;

  height: 50px;
  line-height: 50px;

  color: $color-secondary-text;
  font-weight: $font-weight-regular;
  font-size: 13px;

  i {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    cursor: pointer;
  }
}

table.member-list {
  width: $fill-parent;
  table-layout: auto;
  border: 1px solid $color-divider-subtle;
  border-radius: 2px;

  th.header {
    @include header();
  }

  td.item-loading {
    background-image: url("/static/img/spinner-generic.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    height: 50px;
  }

  tr + tr > td {
    border-top: 1px solid $color-divider-subtle;
  }

  td {
    white-space: nowrap;
    padding: 10px $margin-primary;
    box-sizing: border-box;
  }

  td.main {
    width: $fill-parent;

    div.title {
      height: 22px;
      line-height: 22px;

      a {
        display: block;
        float: left;

        color: $color-primary-text;
        text-decoration: none;
        font-weight: $font-weight-medium;
        font-size: 15px;

        &:hover { text-decoration: underline; }
      }

      span.member-username {
        color: $color-secondary-text;
        margin-left: 5px;
      }
    }

    div.info {
      height: 22px;

      ul.member-email-list {
        list-style: none;

        height: 22px;
        line-height: 22px;

        padding: 0;
        margin: 0;

        li {
          float: left;
          padding: 0 12px;
          background-color: #F0F0F0;
          color: $color-secondary-text;
        }

        li + li { margin-left: 6px;}
      }
    }
  }

  td.stat {
    text-align: right;

    * {
      vertical-align: middle;
    }

    i { font-size: 18px; margin-left: 5px; }
  }
}

div.panel {
  // width: $fill-parent;
  border: 1px solid $color-divider-subtle;
  border-radius: 2px;

  div.header { 
    @include header();
    line-height: 36px;
    padding: 7px $margin-primary;

    div.control {
      float: right;
    }
  }

  ul.author-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li.item-loading {
      background-image: url("/static/img/spinner-generic.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40px;
      height: 50px;
    }

    > li {
      height: 42px;
      padding: 10px $margin-primary;

      div.left {
        float: left;
        span.author-email {
          font-weight: $font-weight-medium;
          font-size: 15px;
        }
        span.author-name {
          color: $color-secondary-text;
        }
      }
      div.right {
        float: right;

        div.SumoSelect {
          height: 22px;
          width: 200px;

          p.SelectBox {
            height: 22px;
            line-height: 12px;
            border: 1px solid $color-divider-subtle;
          }
        }  
      }
    }

    > li + li { border-top: 1px solid $color-divider-subtle; }
  }
}
