// Main colours

$color-primary-dark:   #D32F2F;
$color-primary:        #F44336;
$color-primary-light:  #FFCDD2;
$color-primary-itext:  #FFFFFF;
$color-accent:         #388E3C;
$color-primary-text:   #212121;
$color-secondary-text: #757575;
$color-accent-text:    #5c5c5c;
$color-divider:        #BDBDBD;
$color-divider-subtle: #E5E5E5;

// Component colours
$color-header: #FAFAFA;